location ~* \.(inc|php|asp)$ {
    deny all;
}

if ($http_acunetix_product) {
    return 404;
}

if ($http_user_agent ~* "(ZmEu|paros|nikto|dirbuster|sqlmap|openvas|w3af|Morfeus|JCE|Zollard)") {
    return 404;
}

location /sqlMonitor {
    include nginx-allow-ip-common.conf;
    deny all;
    proxy_pass http://{{ app_name }};
    proxy_intercept_errors on;
    include proxy-header.conf;
}

error_page 404 /4xx.html;
error_page 403 /403.html;
error_page 500 501 502 504 /5xx.html;

location = /4xx.html {
    alias /var/nginx/data/4xx.html;
}

location = /403.html {
    alias /var/nginx/data/403.html;
}

location = /5xx.html {
    alias /var/nginx/data/5xx.html;
}

location = /robots.txt { log_not_found off; }

location ~ ^/(apple-touch-icon|favicon|mstile|android-chrome)(.*)\.(png|ico)$ {
    root /var/nginx/data/ico;
    access_log off;
    log_not_found off;
}