server 127.0.0.1:{{ tomcat_service_port }} max_fails={{upstream_max_fails}} fail_timeout={{upstream_timeout}}s;
server 127.0.0.1:{{ tomcat_service_port + 1 }} max_fails={{upstream_max_fails}} fail_timeout={{upstream_timeout}}s;
keepalive 64;