.ax-markdown {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8em;
    font-size: 14px;

    a{
        color: $brand-info;
    }
    h1, h2, h3, h4, h5, h6 {
        //margin-top: 20px;
        //margin-bottom: 10px;
    }

    h1{
        font-size: $font-size-h1;
        margin-top: $line-height-computed * 1.5;
        margin-bottom: ($line-height-computed / 2);
    }
    h2{
        border-top: 1px solid #eee;
        font-size: $font-size-h2;
        padding-top: $line-height-computed * 1.5;
        margin-bottom: ($line-height-computed / 2);
    }
    h3{
        font-size: $font-size-h3;
        margin-top: $line-height-computed * 1.5;
        margin-bottom: ($line-height-computed / 2);
    }
    h4{
        font-size: $font-size-h4;
        margin-top: ($line-height-computed / 2);
        margin-bottom: ($line-height-computed / 2);
    }
    h5{
        font-size: $font-size-h5;
        margin-top: ($line-height-computed / 2);
        margin-bottom: ($line-height-computed / 2);
    }
    h6{
        font-size: $font-size-h6;
        margin-top: ($line-height-computed / 2);
        margin-bottom: ($line-height-computed / 2);
    }

    p{
        margin: 1em auto;
    }

    table{
        display: block;
        width: 100%;
        overflow: auto;
        tr{
            background-color: #343539;
            border-top: 1px solid #676767;
            th, td{
                padding: 6px 13px;
                border: 1px solid #676767;
            }
            &:nth-child(2n){
                background-color: #2a2a2a;
            }
        }
    }
}