lang[data-id]{ font-family: 'Noto Sans Korean'; }
lang[data-font-eng]{ font-family: 'Helvetica Neue'; }

lang[data-id="로그인"]:before{content:'로그인';}
lang[data-id="로그아웃"]:before{content:'로그아웃';}
lang[data-id="검색"]:before{content:'검색';}
lang[data-id="사용자정보"]:before{content:'사용자정보';}
lang[data-id="사용자등록"]:before{content:'사용자등록';}
lang[data-id="신규"]:before{content:'신규';}
lang[data-id="매장명"]:before{content:'Store';}
