#AXPage.login{
	.ax-title{
		height: 50px;
		overflow: hidden;
		padding:20px;
		h1{
			display:block;height: 30px;line-height:30px;float: none;
			font-size:24px; font-weight: normal; text-align: center;
			margin:0px; padding:0px;
			color:$app-theme-color-b;
		}
		.desc{
			display:block;height: 30px;line-height:30px;float: none;
			text-align: center; margin:0px 0px 0px 10px; padding:0px;
		}
	}
	.ax-box{
		width:300px;margin:0px auto;
		h1	{
			text-align: left; color:#676a6c; font-weight: normal;
			line-height: 20px;
			small{
				margin-left:10px;
				color:#c1bfbf;
				font-size: 12px;
				line-height: 20px;
			}
		}
		p	{text-align: center; margin:0px;}
		.ax-input	{
			display: block;
			padding:4px 0px;
			.name 	{display: none;}
			.AXInput	{width:100px; width:100%; height:40px; line-height:40px; padding:0px; text-indent: 10px;}
			.AXSelect	{width:100px; width:100%; height:40px; line-height:40px; padding:0px; text-indent: 10px;}
		}
		.ax-funcs{
			padding:4px 0px;

			.AXCheckbox	{
				float:left;
				label{padding:0px !important;}
			}
			button{
				float:right;
				font-weight: 800;
			}
		}
		.ax-opts{
			padding:20px;
			//border-top:@border-b;
			text-align: center;
			button{

			}
		}
	}

	.ax-title {
		width:596px;
		margin: auto;
		height: 20px;
		overflow: hidden;
		padding: 20px;
		padding-top: 50px;
		h1 {
			line-height: 30px;
			float: none;
			font-size: 20px;
			font-weight: normal;
			text-align: left;
			margin: 0px;
			padding: 0px;
			color: #8c8184;
			i.axi{
				font-size: 50px;
				//color: #468cca;
			}
			small{
				font-family: Verdana;
				font-size:10px;
				color:#cececa;
			}
		}
		.desc {
			display: block;
			height: 30px;
			line-height: 30px;
			float: none;
			text-align: center;
			margin: 0px 0px 0px 10px;
			padding: 0px;
			color: #888;
		}
	}
	.ax-box {
		position:relative;
		background: #fff;
		border:1px solid #c8c8c8;
		padding:40px;
		width:680px;
		height:auto;
		border-radius: 10px;
		box-shadow: 5px 5px 0px #dfe2e2;

		.login-visual{
			float:left;
			position: relative;
			width:300px;
			height:234px;
			border-top-left-radius: 10px;
			border-top-right-radius: 0px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 10px;
			background: url($ui-img-src + "/login-visual.png") no-repeat center;
			margin:0px 10px;
		}
		.login-vline{
			float:left;
			width:1px; height:260px;
			background: #dddddd;
		}
		.login-form{
			margin-left:50px;
			width:300px;
			float:left;
		}
		.icn-stipe{
			position: absolute;
			bottom:0px;left:0px;
			height:5px;width:100%;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		.ax-box-underline{
			position: absolute;
			bottom:0px;left:0px;
			height:5px;width:100%;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}