@import "../plugins/ax5-lato/lato.css";

@for $i from 5 through 10 {
	.H#{$i} {
		font-size: 1px;
		height: 1px * $i;
	}
}

@for $i from 2 through 30 {
	.H#{$i*10} {
		font-size: 1px;
		height: 10px * $i;
	}
}

@for $i from 1 through 10 {
	.W#{$i} {
		width: 1px * $i;
	}
}

@for $i from 2 through 30 {
	.W#{$i*10} {
		width: 10px * $i;
	}
}

.nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ime-false {
	ime-mode: inactive;
}

.ime-true {
	ime-mode: active;
}

.ime-off {
	ime-mode: disabled;
}

.ax-sub-title {
	border-bottom: 1px solid $border-color-light;
}

.ax-align-left {
	text-align: left;
}

.ax-align-center {
	text-align: center;
}

.ax-align-right {
	text-align: right;
}

.ax-wrap {
	margin: 0px auto;
}

.ax-clear {
	clear: both;
}

.ax-unit {
	margin: 0px 10px;
}

.ax-col {
	float: left;
}

div[class*="ax-col-"] {
	float: left;
	height: inherit;
}

.ax-col-1 {
	width: 8.3334%;
}

.ax-col-2 {
	width: 16.6667%
}

.ax-col-3 {
	width: 25%
}

.ax-col-4 {
	width: 33.3334%;
}

.ax-col-5 {
	width: 41.6667%;
}

.ax-col-6 {
	width: 50%;
}

.ax-col-7 {
	width: 58.3334%
}

.ax-col-8 {
	width: 66.6667%
}

.ax-col-9 {
	width: 75%;
}

.ax-col-10 {
	width: 83.3334%
}

.ax-col-11 {
	width: 91.6667%
}

.ax-col-12 {
	width: 100%
}

div[class*="mx-"] {
	display: none;
}

// 반응형 폼 서식
.ax-rwd-form {
	margin: 5px 0px;
	&:last-child {
		margin-bottom: 0px;
	}
}

.ax-rwd-table {
	position: relative;
	border-top: 1px solid $form-item-box-border-color;
	border-right: 1px solid $form-item-box-border-color;

	.table-title {
		border-bottom: 1px solid $form-item-box-border-color;
		clear: both;
	}

	.item-group {
		position: relative;
		min-height: $form-item-box-height;
		&.gray {
			background: $form-item-box-background;
			padding: 0px;
			.item {

			}
		}
		.item {
			float: left;
			line-height: $form-item-box-height;
			min-height: $form-item-box-height;
			padding: 0px;
			text-align: center;
			position: relative;
			display: table;
			table-layout: fixed;
			.item-lable {
				position: relative;
				display: table-row;
				*display: block;
				*float: left;
				span.th {
					display: table-cell;
					position: relative;
					*display: block;
					*float: left;
					color: #333;
					border-left: 1px solid $form-item-box-border-color;
					border-right: 1px solid $form-item-box-border-color;
					min-height: $form-item-box-height;
					line-height: $form-item-box-height;
					padding: $form-item-box-th-padding;
					box-sizing: border-box;
					min-width: 100px;
					background: $form-item-box-background;
					span.nowrap {
						position: absolute;
						display: block;
						width: 100%;
					}
				}
				span.th.none {
					border: 0px none;
				}
				span.td {
					display: table-cell;
					*display: block;
					*float: left;
					height: $form-item-box-height;
					line-height: auto;
					padding: $form-item-box-td-padding;
					*line-height: $form-item-box-height;
					box-sizing: content-box;
					vertical-align: middle;
					text-align: left;
					min-width: 300px;

				}
			}

			&:first-child, &.first-child {
				.item-lable {
					span.th {

					}
				}
			}

			&.fullWidth {
				position: relative;
				display: table;
				float: none;
				clear: both;
				width: 100%;
				.item-lable {
					position: relative;
					display: table-row;
					float: none;
					clear: both;
					width: 100%;
					span.th {
						width: 100px;
					}
					span.td {

					}
					input[type=text], input[type=password], .AXInput, select, textarea {
						width: 100%;
						height: 23px;
						//height: $form-item-box-height - nth($form-item-box-td-padding, 1);
						box-sizing: border-box;
					}
				}
			}

			&.rightPadding0 {
				.item-lable {
					span.td {
						padding-right: 0px;
					}
				}
			}
			&.leftPadding0 {
				.item-lable {
					span.td {
						padding-left: 0px;
					}
				}
			}
			&.padding0 {
				.item-lable {
					span.td {
						padding: 5px 0px
					}
				}
			}
		}
		.group-clear {
			height: 1px;
			font-size: 1px;
			line-height: 1px;
			background: $form-item-box-border-color;
			clear: both;
		}

	}
}

.ax-sbar {
	border-top: 1px solid $form-item-box-border-color;
	border-bottom: 1px solid $form-item-box-border-color;
	padding: 0px 0px;
	position: relative;
	&:not(:first-child) {
		border-top: 0px none;
	}

	SPAN.sitem {
		display: inline-block;
		margin: 0px 0px 0px 0px;
		color: #1d363c;
		background: #fff;
		min-height: 23px;
		line-height: 23px;
		padding: 0px 7px 0px 0px;
		box-sizing: border-box;
		min-width: 80px;
		text-align: left;
		white-space: nowrap;

		SPAN.slabel {
			display: inline-block;
			white-space: nowrap;
			margin: 0px 3px 0px 0px;
			color: #333;
			background: $form-item-box-background;
			min-height: 20px;
			line-height: 20px;
			padding: 6px 5px;
			box-sizing: border-box;
			min-width: 80px;
			text-align: center;

			@for $i from 1 through 100 {
				&.W#{$i*10} {
					min-width: 10px * $i;
				}
			}
		}
		select {
			display: inline-block;
			line-height: 23px;
			box-sizing: border-box;
			//vertical-align:top;
			//margin-top:6px;
		}

		@for $i from 1 through 100 {
			&.W#{$i*10} {
				min-width: 10px * $i;
			}
		}

	}

	.float-right {
		margin-top: 5px;
		margin-right: 5px;
		float: right;
	}
}

.ax-tbl-layout {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 5px;
	&:first-child {
		margin-top: 0px;
	}
	td.td-layout {
		padding: 0px 15px;
		vertical-align: top;
		border-left: 1px dashed #d8e3e4;

		&:first-child {
			padding-left: 0px;
			border-left: 0px none;
			&:last-child {
				padding-left: 15px;
			}
		}
		&:last-child {
			padding-right: 0px;
		}
	}
}

.ax-box-underline{
	position: absolute;
	bottom:0px;left:0px;
	height:5px;width:100%;
	background: $body-box-underline;
	&.top{
		top:0px;
	}
}

.ax-layout-split{
	margin: 10px 0px;
	border-top: 2px dotted #ccc;
}

//~~ end util

html, body {
	background: $app-bgcolor;

	height: 100%;
	margin: 0px;
	padding: 0px;

	color: $app-font-color;
	font-size: $app-font-size;
	font-family: $app-font-family;
	//font-weight: $app-font-weight;
	//line-height: $app-line-height;

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-stroke: 0.6px;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-text-size-adjust: none;

	input, select, textarea, button {
		color: $form-item-font-color;
		font-size: $form-item-font-size;
		font-family: $form-item-font-family;
		font-weight: $form-item-font-weight;
		line-height: $form-item-line-height;

		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
		text-stroke: 0.6px;
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
	}
	a {
		color: $app-link-font-color;
		text-decoration: none;
		&:hover {
			color: $app-link-hover-font-color;
		}
	}

}