@import "/static/plugins/webfont-nanum/nanumgothic/nanumgothic.css";
$ui-img-src: "../ui/axboot/images/";

$white: #fff !default;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$brand-primary: #428bca !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Nanum Gothic', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 12px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

$border-color: #c8c8c8 !default; // #555
$border-color-darker: #666 !default; // #222
$border-color-dark: #959595 !default; // #333
$border-color-light: #e2e2e2 !default; // #777
$border-color-lighter: #ededed !default; // #eee

//== app
$app-theme-color-a: #f3644b;
$app-theme-color-b: #505050;
$app-theme-color-c: #f3644b;
$app-theme-color-d: #fff;

$app-bgcolor: #f3f3f3;
$app-font-color: $gray;
$app-font-size: $font-size-base;
$app-font-family: $font-family-sans-serif;
$app-font-weight: 500;
$app-line-height: $line-height-base;
$app-link-font-color: $gray-dark;
$app-link-hover-font-color: $brand-primary;

//== form-item
$form-item-font-color: $gray-dark;
$form-item-font-size: $font-size-base;
$form-item-font-family: $font-family-sans-serif;
$form-item-font-weight: 500;
$form-item-line-height: $line-height-base;

$form-item-box-border-color: $border-color-dark;
$form-item-box-height: 22px;
$form-item-box-background: #e3e3e3;
$form-item-box-th-padding: 7px 0px;
$form-item-box-td-padding: 5px 5px;

//== header
$header-height: 60px;
$frame-min-width:1024px;
$header-background: #333333;

$header-logo-width: 170px;
$header-logo-height: 60px;
$header-logo-padding: 5px 0;

$header-border-color: $app-theme-color-a;

//== header > menu
$header-menu-left: 190px;
$header-menu-width: 700px;

$header-menu-root-font-size: 15px;
$header-menu-root-font-family: $app-font-family;
$header-menu-root-font-weight: 800;
$header-menu-root-line-height: $line-height-base;
$header-menu-root-link-padding: 0 10px;
$header-menu-root-link-font-color: #fff;
$header-menu-root-link-hover-font-color: lighten($app-theme-color-a, 0%);

$header-menu-child-background: #ebebeb;
$header-menu-child-border-color: #333;
$header-menu-child-font-size: 12px;
$header-menu-child-font-family: $app-font-family;
$header-menu-child-font-weight: 800;
$header-menu-child-link-background: $white;
$header-menu-child-link-padding: 0 10px;
$header-menu-child-link-font-color: #444;
$header-menu-child-link-hover-font-color: lighten($app-theme-color-a, 0%);
$header-menu-child-link-height: 30px;

//== body
$body-title-font-size:24px;
$body-title-font-color:#505050;
$body-box-background: $white;
$body-box-border: 1px solid $border-color;
$body-box-border-radius: 0px;
$body-box-underline: $app-theme-color-a;


//== foot
$foot-height: 20px;
$foot-background: #3b3b3b;
$foot-border: 1px solid #000;
$foot-font-color: $white;
$foot-font-family: $font-family-monospace;
$foot-font-size: 10px;


//== aside
$aside-menu-root-border: 1px solid #c8c8c8;

$aside-menu-root-font-size: 15px;
$aside-menu-root-font-family: $app-font-family;
$aside-menu-root-line-height: 32px;
$aside-menu-root-link-padding: 0 5px;
$aside-menu-root-link-font-color: #fff;
$aside-menu-root-link-hover-font-color: lighten($app-theme-color-a, 10%);
$aside-menu-root-link-background: $form-item-box-background;
$aside-menu-root-link-hover-background: $aside-menu-root-link-hover-font-color;

$aside-menu-child-background: #fff;
$aside-menu-child-border-color: #333;
$aside-menu-child-font-size: 12px;
$aside-menu-child-font-family: $app-font-family;
$aside-menu-child-font-weight: 800;
$aside-menu-child-link-background: $white;
$aside-menu-child-link-padding: 0 10px;
$aside-menu-child-link-font-color: #444;
$aside-menu-child-link-hover-font-color: lighten($app-theme-color-a, 10%);
$aside-menu-child-link-height: 30px;


//== modal
$modal-box-border: $body-box-border;
$modal-box-background: $white;
$modal-box-border: 1px solid $border-color;
$modal-box-border-radius: 0px;
$modal-box-underline: $app-theme-color-a;