
//~~ animation
.animated {

}

@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateX(-50px) rotate(-90deg);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(-50px) rotate(-270deg);
	}

	40% {
		opacity: 1;
		-webkit-transform: translateX(50px) rotate(-270deg);
	}

	80% {
		opacity: 1;
		-webkit-transform: translateX(50px) rotate(-90deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-50px) rotate(-90deg);
	}
}

@-moz-keyframes bounceOutUp {
	0% {
		-moz-transform: translateX(-50px) rotate(-90deg); }

	20% {
		opacity: 1;
		-moz-transform: translateX(-50px) rotate(-270deg); }

	40% {
		opacity: 1;
		-moz-transform: translateX(50px) rotate(-270deg); }

	80% {
		opacity: 1;
		-moz-transform: translateX(50px) rotate(-90deg); }

	100% {
		opacity: 1;
		-moz-transform: translateX(-50px) rotate(-90deg); } }

@keyframes bounceOutUp {
	0% {
		-webkit-transform: translateX(-50px) rotate(-90deg);
		-moz-transform: translateX(-50px) rotate(-90deg);
		-ms-transform: translateX(-50px) rotate(-90deg);
		-o-transform: translateX(-50px) rotate(-90deg);
		transform: translateX(-50px) rotate(-90deg); }

	20% {
		opacity: 1;
		-webkit-transform: translateX(-50px) rotate(-270deg);
		-moz-transform: translateX(-50px) rotate(-270deg);
		-ms-transform: translateX(-50px) rotate(-270deg);
		-o-transform: translateX(-50px) rotate(-270deg);
		transform: translateX(-50px) rotate(-270deg); }

	40% {
		opacity: 1;
		-webkit-transform: translateX(50px) rotate(-270deg);
		-moz-transform: translateX(50px) rotate(-270deg);
		-ms-transform: translateX(50px) rotate(-270deg);
		-o-transform: translateX(50px) rotate(-270deg);
		transform: translateX(50px) rotate(-270deg); }

	80% {
		opacity: 1;
		-webkit-transform: translateX(50px) rotate(-90deg);
		-moz-transform: translateX(50px) rotate(-90deg);
		-ms-transform: translateX(50px) rotate(-90deg);
		-o-transform: translateX(50px) rotate(-90deg);
		transform: translateX(50px) rotate(-90deg); }

	100% {
		opacity: 1;
		-webkit-transform: translateX(-50px) rotate(-90deg);
		-moz-transform: translateX(-50px) rotate(-90deg);
		-ms-transform: translateX(-50px) rotate(-90deg);
		-o-transform: translateX(-50px) rotate(-90deg);
		transform: translateX(-50px) rotate(-90deg); }
}

.bounceOutUp {
	display:block;
	-webkit-animation: bounceOutUp 2s ease-out;
	-moz-animation: bounceOutUp 2s ease-out;
	animation: bounceOutUp 2s ease-out;

	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count:infinite;

	animation-iteration-count:infinite;
	animation-fill-mode: both;
}