.AXGridTable{
	margin:5px 0px;
	&:last-child{
		margin-bottom: 0px;
	}
	thead td, thead th{
		background: $form-item-box-background;
	}
	td{
		font-size: 11px;
		padding: 3px 5px;
		line-height: 20px;
		@extend .nowrap;
	}
}

.AXFormTable{
	td{
		padding: 5px;
		line-height: 20px;
		//.nowrap();
	}
}

.AXInputLabel{
	margin:3px auto;
	span{line-height:1.5em;margin: 5px;}
}

.AXButton{
	box-sizing: border-box;
	height:23px;line-height: 23px;
	i.axi{
		box-sizing: border-box;
		height:23px;line-height: 23px;
	}
}

.AXTree_none{
	.AXTreeScrollBody{
		border: 0px none;
	}
	border: 1px solid #959595;
}
.AXInput{
	line-height: 15px;
}

.AXSearch{
	.searchGroup .searchItem{
		&.secondItem{
			.itemTable {
				span.th {
					border:0px none;
					box-sizing: border-box;
					background: $form-item-box-background;
					color: #333;
				}
				span.td {

				}
			}
		}
		.itemTable {
			span.th {
				border:0px none;
				box-sizing: border-box;
				background: $form-item-box-background;
				color: #333;
			}
			span.td {

			}
		}
	}
}

.AXGrid{
	input[type=checkbox]{
		//height:20px;width:20px;
		//box-sizing: border-box;
		vertical-align: middle;
		//font-size: 110%;
		//display: inline;
		//zoom:1.2;
	}
}

.AXNotificationTray{
	top:auto;
	bottom:20px;
	//width:400px;
}
.AXNotification{
	//width:380px;
	background:#fff;
	.AXNotificationTable{
		background:#fff;
		td{
			background:#fff;
			word-break: keep-all ;
			text-align: left;
			font-size:13px;
		}
	}
	.AXButton.Red{
		background: #4f9890;
		color:#fff;
		border:1px solid #4f9890;
	}
}